.Page-container {
  background: #eef1f4;
  height: 100%;
}
#root {
  height: 100%;
}
.Chat {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 0px 100px 20px 100px;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MessageInput {
  width: 100%;
  height: 100%;
  margin: 20px;
}

.Header {
  margin: 20px;
  padding: 10px;
  background: #689ec8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.MessageList {
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-items: flex-end;
  width: 100%;
  max-height: 600px;
  min-height: 200px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.Message {
  padding: 5px;
  margin: 5px;
  background: rgb(154, 206, 255);
}
.modal {
  top: 100px;
}
.form-control {
  margin-right: 20px;
}
.modal-body .MessageInput {
  margin-left: 0px;
}
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #689ec8;
}

.footer {
  display: flex;
  justify-content: center;
  line-height: 4;
  background: #eef1f4;
}

.header__logo>img {
  height: 50px;
}

.header__name {
  font-weight: bold;
  width: 90px;
  height: 40px;
  line-height: 1.5em;
  font-size: 20px;
}

.header__avatar img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 0px 10px 10px 0px;
}

.header__userbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.App-logo {
  height: 40px;
  width: 40px;
  pointer-events: none;
}
.logo-title {
  padding-top: 8px;
  margin-left: 10px;
  font-size: 1.2rem;
}
.Header-chat-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Header-user-count {
  margin-left: 20px;
}
.Header-message-count {
  margin-left: 20px;
}
.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

hr {
  color: #83b6dd;
  background-color: #83b6dd;
  height: 2px;
}

img {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  margin: 2px;
}

.position-right {
  display: flex;
  justify-content: flex-end;
}

.position-left {
  display: flex;
  justify-content: flex-start;
}

.message-text {
  margin-left: 5px;
  padding: 5px;
}

.pencil, .trash, .heart {
  margin-left: 5px;
}

.message-time {
  padding: 3px;
  font-size: 10px;
}

.message-like {
  margin-left: 5px;
  padding: 3px 3px 3px 0px;
  font-size: 10px;
}

textarea {
  resize: none;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}